/**
 * font exo2
 */
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 900;
  src: url("./fonts/exo2/Exo2-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 800;
  src: url("./fonts/exo2/Exo2-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 700;
  src: url("./fonts/exo2/Exo2-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 600;
  src: url("./fonts/exo2/Exo2-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 500;
  src: url("./fonts/exo2/Exo2-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 400;
  src: url("./fonts/exo2/Exo2-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 300;
  src: url("./fonts/exo2/Exo2-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 200;
  src: url("./fonts/exo2/Exo2-ExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: normal, 100;
  src: url("./fonts/exo2/Exo2-Thin.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 900;
  src: url("./fonts/exo2/Exo2-BlackItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 800;
  src: url("./fonts/exo2/Exo2-ExtraBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 700;
  src: url("./fonts/exo2/Exo2-BoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 600;
  src: url("./fonts/exo2/Exo2-SemiBoldItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 500;
  src: url("./fonts/exo2/Exo2-MediumItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 400;
  src: url("./fonts/exo2/Exo2-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 300;
  src: url("./fonts/exo2/Exo2-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 200;
  src: url("./fonts/exo2/Exo2-ExtraLightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "Exo 2";
  font-weight: italic, 100;
  src: url("./fonts/exo2/Exo2-ThinItalic.ttf") format("truetype"); }
body {
  font-family: "Exo 2", Arial, "Helvetica Neue", sans-serif; }

.brand {
  font-size: 36px;
  font-weight: 800; }
  .brand span {
    display: inline-block; }
    .brand span.n {
      color: red; }
    .brand span.quick {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
      .brand span.quick::first-letter {
        color: red; }
    .brand span.dirty::first-letter {
      color: red; }

/*# sourceMappingURL=main.css.map */
