/**
 * font exo2
 */
@mixin fontface($name, $weight, $style, $path){
    @font-face {
        font:{
            family: $name;
            weight: $weight;
            style: $style;
        }
        src: url($path + '.ttf') format('truetype');
    }
}

@mixin ffExo2($weight, $style, $filename) {
    @include fontface("Exo 2", $weight, $style, "./fonts/exo2/" + $filename);
}

$ExoSrc: (
"Exo2-Black": (normal, 900),
"Exo2-ExtraBold": (normal, 800),
"Exo2-Bold": (normal, 700),
"Exo2-SemiBold": (normal, 600),
"Exo2-Medium": (normal, 500),
"Exo2-Regular": (normal, 400),
"Exo2-Light": (normal, 300),
"Exo2-ExtraLight": (normal, 200),
"Exo2-Thin": (normal, 100),
"Exo2-BlackItalic": (italic, 900),
"Exo2-ExtraBoldItalic": (italic,800 ),
"Exo2-BoldItalic": (italic, 700),
"Exo2-SemiBoldItalic": (italic, 600),
"Exo2-MediumItalic": (italic, 500),
"Exo2-Italic": (italic, 400),
"Exo2-LightItalic": (italic, 300),
"Exo2-ExtraLightItalic": (italic, 200),
"Exo2-ThinItalic": (italic, 100)
);

@each $filename, $weight, $type in $ExoSrc {
    @include ffExo2($weight, $type, $filename);
}
