
body{
    font-family: $fexo2;
}

.brand {
    font-size: $fsize * 3;
    font-weight: 800;
    span {
        display: inline-block;
        &.n {
            color: red;
        }

        &.quick {
            @include tscale(-1);
            &::first-letter {
                color: red;
            }
        }

        &.dirty {
            &::first-letter {
                color: red;
            }
        }
    }
}
