@mixin tscale($scale){
    -moz-transform: scaleX($scale);
    -o-transform: scaleX($scale);
    -webkit-transform: scaleX($scale);
    transform: scaleX($scale);
    filter: FlipH;
    -ms-filter: "FlipH";
}
